{% extends 'base.html.twig' %}

{% block body %}
<h1>Reviews list</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>User Rated</th>
            <th>Author</th>
            <th>Text</th>
            <th>Date</th>
            <th>Note</th>
        </tr>
    </thead>
<tbody>
    {% for review in reviews %}
    <tr>
        <td><a href="{{ path('review_show', { 'id': review.id }) }}">{{ review.id }}</a></td>
        <td>{{ review.userRated }}</td>
        <td>{{ review.author }}</td>
        <td>{{ review.text }}</td>
        <td>{{ review.publicationDate }}</td>
        <td>{{ review.note }}</td>
        <td>
            <ul>
                <li>
                    <a href="{{ path('review_show', { 'id': review.id }) }}">show</a>
                </li>
            </ul>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
